In [29]:
# import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
# load the dataset
df=pd.read_csv("uber.csv")
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,52:06.0,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,04:56.0,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,45:00.0,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,22:21.0,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,47:00.0,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [31]:
df.columns

Index(['Unnamed: 0', 'key', 'fare_amount', 'pickup_datetime',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'passenger_count'],
      dtype='object')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB

In [33]:
# Getting the percentage of missing values in each column
round(df.isnull().sum()/len(df)*100,2)

Unnamed: 0           0.0
key                  0.0
fare_amount          0.0
pickup_datetime      0.0
pickup_longitude     0.0
pickup_latitude      0.0
dropoff_longitude    0.0
dropoff_latitude     0.0
passenger_count      0.0
dtype: float64

In [34]:
# getting the unique values in each column
df.nunique()

Unnamed: 0           200000
key                    3600
fare_amount            1240
pickup_datetime      196629
pickup_longitude      71014
pickup_latitude       83773
dropoff_longitude     76836
dropoff_latitude      90526
passenger_count           8
dtype: int64

In [35]:
# Dropping the Missing or Null Values if any 
df.dropna(inplace=True)
df

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,52:06.0,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,04:56.0,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,45:00.0,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,22:21.0,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,47:00.0,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...,...
199995,42598914,49:00.0,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,09:00.0,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,42:00.0,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,56:25.0,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,08:00.0,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [36]:
# Finding the unique values in passenger_count column
df["passenger_count"].unique()

array([  1,   3,   5,   2,   4,   6,   0, 208])

In [38]:
# Converting the datatype of passenger_count column from integer to object
df["passenger_count"]=df["passenger_count"].astype(str)
print(df["passenger_count"].dtype) # Object datatype

object

In [39]:
# Finding the frequency of each unique value in passenger_count column
df["passenger_count"].value_counts()

passenger_count
1      138425
2       29428
5       14009
3        8881
4        4276
6        4271
0         708
208         1
Name: count, dtype: int64

In [40]:
# dropping the values 0 and 208 as they are not valid values for passenger_count
df=df[~df["passenger_count"].isin(["0","208"])]

In [44]:
# checking the value counts again
df["passenger_count"].value_counts()

passenger_count
1    138425
2     29428
5     14009
3      8881
4      4276
6      4271
Name: count, dtype: int64

In [46]:
df.drop(columns=["Unnamed: 0","key","pickup_latitude","pickup_longitude","dropoff_latitude","dropoff_longitude"], inplace=True)

C:\Users\himan\AppData\Local\Temp\ipykernel_1672\2964564006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Unnamed: 0","key","pickup_latitude","pickup_longitude","dropoff_latitude","dropoff_longitude"], inplace=True)

In [47]:
# resetting the index after dropping the rows
df.reset_index(drop=True, inplace=True)

In [ ]:
# converting the pickup_datetime column datatype to datatime Datatype
df["pickup_datetime"]=pd.to_datetime(df["pickup_datetime"])

# Creating new Column Hour from pickup_datetime column
df["Hour"]=df["pickup_datetime"].dt.hour
df["Hour"].value_counts().sort_index()

# Creating new Column Time of the Day to Cetegorise the Hours

df['Time of the Day'] = df['Hour'].apply(
    lambda x: 'Morning' if 5 <= x < 12 else 
              'Afternoon' if 12 <= x < 17 else 
              'Evening' if 17 <= x < 21 else 
              'Night'
)
df["Time of the Day"].value_counts()  # finding the frequency of each unique value in Time of the Day column

C:\Users\himan\AppData\Local\Temp\ipykernel_1672\1438565543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["pickup_datetime"]=pd.to_datetime(df["pickup_datetime"])
C:\Users\himan\AppData\Local\Temp\ipykernel_1672\1438565543.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Hour"]=df["pickup_datetime"].dt.hour
C:\Users\himan\AppData\Local\Temp\ipykernel_1672\1438565543.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time of the Day'] = df['Hour'].apply(

Time of the Day
Night        55893
Morning      49935
Afternoon    47440
Evening      46022
Name: count, dtype: int64

In [43]:
# Function to convert latitude and longitude to distance in kilometers using Haversine formula
import math
def haversine_distance(lat1, lon1, lat2, lon2):
    # Radius of Earth in kilometers
    R = 6371.0

    # Convert latitude and longitude from degrees to radians
    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)

    # Differences
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad

    # Haversine formula
    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    # Distance in kilometers
    distance = R * c

    return distance

In [ ]:
# Applying the haversine_distance function to each row in the dataframe to calculate trip distance
df["Trip Distance (in Km)"] = df.apply(
    lambda val: haversine_distance(val["pickup_latitude"], val["pickup_longitude"], val["dropoff_latitude"], val["dropoff_longitude"]),
    axis=1
)
df["Trip Distance (in Km)"]=round(df["Trip Distance (in Km)"],2)

C:\Users\himan\AppData\Local\Temp\ipykernel_1672\2712572494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Trip Distance (in Km)"] = df.apply(

In [25]:
# Importing train_test_split from sklearn to split the data into training and testing sets
from sklearn.model_selection import train_test_split

#  Declaring the x and the y variables
features=["passenger_count","Hour","Time of the Day","Trip Distance (in Km)"]
X=df[features]
y=df["fare_amount"]

In [26]:
#  Splitting the Data into Training and Testing Sets in ratio of 70:30
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# Getting the correlation between the numerical features
num_df=df.select_dtypes(exclude=['object'])
num_df.corr().round(3)

,fare_amount,pickup_datetime,Hour,Trip Distance (in Km)
fare_amount,1.000,0.123,-0.021,0.025
pickup_datetime,0.123,1.000,0.002,0.027
Hour,-0.021,0.002,1.000,-0.001
Trip Distance (in Km),0.025,0.027,-0.001,1.000